<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UML EXAM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">西安欧亚学院</div>
            <div class="col-md-12 text-center"><h1>统一建模语言理论测试</h1></div>
        </div>

        <form class="form-inline" action="" method="post">

        <div class="panel panel-default">
            <div class="row panel-body text-center">
                <div class="form-group">
                    <label for="">科目：</label>
                    <input type="text" class="form-control" id="kemu" value="统一建模语言UML" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="">时间：</label>
                    <input type="text" class="form-control" id="timer" value="100分钟" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="">得分：</label>
                    <input type="text" class="form-control" id="sub_score" name="userscore" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="row panel-body text-center">
                <div class="form-group">
                    <label for="">姓名：</label>
                    <input type="text" class="form-control" id="xingming" name="username" placeholder="输入姓名" title="Popover title"
       data-toggle="popover" data-placement="right"
      data-content="右侧的 Popover 中的一些内容">
                </div>
                <div class="form-group">
                    <label for="">班级：</label>
                    <input type="text" class="form-control" id="banji" name="userbanji" placeholder="输入班级">
                </div>
                <div class="form-group">
                    <label for="">学号：</label>
                    <input type="number" class="form-control" id="xuehao" name="userxuehao" placeholder="输入学号">
                </div>
            </div>
        </div>
        <br>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">一、  填空题</h3>
            </div>
            <div class="panel-body">
                <label for="">1 .UML的中文全称是：</label>
                <input type="text" class="form-control" id="umlzhongwen" name="umlzhongwen">
                <br>
                <label for="">2 .对象最突出的特征是：</label>
                <input type="text" class="form-control" id="objtezheng-1" name="objtezheng-1">、
                <input type="text" class="form-control" id="objtezheng-2" name="objtezheng-2">、
                <input type="text" class="form-control" id="objtezheng-3" name=>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">二、  选择题</h3>
            </div>
            <div class="panel-body">
                <label for="">1 .UML与软件工程的关系是：</label>
                    <input type="text" id="one_select_1" size=1 readonly="readonly">
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_1" id="oneselect" value="A">  (A):UML就是软件工程；
                </label>
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_1" id="twoselect" value="B">  (B):UML参与到软件工程中软件开发过程的几个阶段；
                </label>
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_1" id="threeselect" value="C">  (C):UML与软件工程无关；
                </label>
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_1" id="fourselect" value="D">  (D):UML是软件工程的一部分；
                </label>
                <br><br>

                <label for="">2 .java语言支持：</label>
                    <input type="text" id="one_select_2" size=1 readonly="readonly">
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_2" id="fiveselect" value="A">  (A):UML就是软件工程；
                </label>
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_2" id="sixselect" value="B">  (B):UML参与到软件工程中软件开发过程的几个阶段；
                </label>
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_2" id="sevenselect" value="C">  (C):UML与软件工程无关；
                </label>
                <br>
                <label class="radio-inline">
                    &nbsp;&nbsp;<input type="radio" name="one_select_2" id="eightselect" value="D">  (D):UML是软件工程的一部分；
                </label>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">三、  多选题</h3>
            </div>
            <div class="panel-body">
                <label for="">1 .用例的粒度分为以下那三种：</label>
                    <input type="text" id="check_box1" size=4 readonly="readonly">
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box1" id="checkbox1" value="A">(A):概述级；
                </label>
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box1" id="checkbox2" value="B">(B):需求级；
                </label>
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box1" id="checkbox3" value="C">(C):用户目标级；
                </label>
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box1" id="checkbox4" value="D">(D):子功能级；
                </label>
            </div>

            <div class="panel-body">
                <label for="">2 .类图由那三部分组成：</label>
                    <input type="text" id="check_box2" size=4 readonly="readonly">
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box2" id="checkbox5" value="A">(A):名称(name);
                </label>
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box2" id="checkbox5" value="B">(B):属性(Attribute);
                </label>
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box2" id="checkbox7" value="C">(C):操作(Operation);
                </label>
                <br>
                <label class="checkbox-inline">
                    &nbsp;&nbsp;<input type="checkbox" name="check_box2" id="checkbox8" value="D">(D):方法(function);
                </label>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">四、  判断对错</h3></label>
            </div>
            <div class="panel-body">
                <label for="">1 .用例图只是用于和用户交流和沟通的，用户确定需求；</label>
                <br>
                    <label class="radio-inline">
                        &nbsp;&nbsp;<input type="radio" name="yongli" value="true">  对
                    </label>
                    <br>
                    <label class="radio-inline">
                        &nbsp;&nbsp;<input type="radio" name="yongli" value="false">  错
                    </label>
                <br>
            </div>

            <div class="panel-body">
                <label for="">2 .&nbsp;在状态图中，终止状态在一个状态图中允许有任意多个；</label>
                <br>
                    <label class="radio-inline">
                        &nbsp;&nbsp;<input type="radio" name="zhuangtai" value="true">  对
                    </label>
                    <br>
                    <label class="radio-inline">
                        &nbsp;&nbsp;<input type="radio" name="zhuangtai" value="false">  错
                    </label>
                <br>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">五、  简答题</h3>
            </div>
            <div class="panel-body">
                <label for="">1 .什么是模型，以及模型的表现形式；</label>
                <br>
                <textarea class="form-control" name="textArea" rows="4" cols="70"></textarea>
            </div>
        </div>

        <div id="footer">
            <button type="button" class="btn btn-info" id="submit">查看成绩</button>
        </div>
        <br>

        <div id="backtop">返回顶部</div>

        </form>

    </div>
    <div class="test">

    </div>
</body>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.min.css" />
    <link rel="stylesheet" href="./css/test.css" />
    <script src="./lodash.min.js"></script>
    <script src="./jquery/dist/jquery.js"></script>
    <script src="./Listener.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
</html>
