<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,   initial-scale=1.0 ,   maximum-scale=1.0 ,   user-scalable=0">
    <title>less</title>
    <link rel="stylesheet" href="css/result.css" />
</head>
<body>
    <h1 class="content">
    HELLO WORLD!
    </h1>
    <div class="ba">

    </div>

    <br/>
    <div class="filter">

    </div>
    <br/>
    <p class="one">时间都去哪里了</p><p class="two">时间都去哪里了</p><p class="three">时间都去哪里了</p><p class="four">时间都去哪里了</p><p class="five">时间都去哪里了</p>
    <div class="button"></div>
    <a href="" class="button"></a>

    <br/>
    <div class="">
    sldkfslkdjfskjdfskjf
    </div>
    <br/><br/>
    <div class="border">

    </div>

<h3>这里是定义颜色数组取值</h3>
<div class="c-b"></div>

<h3>这里是继承的例子</h3>
<div class="animal">123</div>
<div class="bear">234</div>
<div class="deer">345</div>
    </body>

<h3>这里是测试mixin传值</h3>
<div class="cal">asdfasdfasdf</div>

<h3>模式匹配和导引表达式</h3>
<div class="mixin"></div>
<div class="mi"></div>
<div class="media"></div>

<h3>这个是命名空间</h3>
<div id="bundle">
    <div class="button"></div>
</div>
<div id="header">
    <a href="">123</a>
</div>

<h3>字符串直接插入</h3>
<div class="img"></div>

<h3>JavaScript 表达式</h3>
<div class="s-h"></div>
<p>sdfasdf</p>
<h1>saf</h1>
<div class="good">123123123</div>
</html>
