.in
{
    display: inline-block;
    zoom: 1;

    *display: inline;
}

input
{
    vertical-align: middle;
    text-align: center;
}

#footer
{
    text-align: center;
}

#backtop
{
    width: 21px;
    height: 83px;
    right: 10px;
    bottom: 150px;
    border: 1px solid rgb(194, 168, 192);
    background-color: rgb(236, 236, 236);
    text-align: center;
    cursor: pointer;
    position: fixed;
}
